* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(127, 255, 212);
}

main {
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.418);
}

h1 {
    font-size: 2em;
    color: rgb(21, 21, 143);
}

h2 {
    font-size: 1.5em;
    color: rgba(21, 21, 143);
}

img.imagens {
    float: right;
}